$btn-height: 40px;
$btn-width: 90px;
$btn-padding: 4px;

* {

    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

.nav-body {
    margin-top: -10px;
}

.search-icon {
    position: relative;
    top: 38px;
    left: 15px;
}

.tile-body {
    padding-top: 28px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #F4F5F6;
}

table th:first-child {
    border-radius: 10px 0 0 0px;
}

table th:last-child {
    border-radius: 0 10px 0px 0;
}

table {
    border-collapse: collapse;
    border-radius: 15px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #F4F5F6;
}

table tbody tr {
    border-bottom: 2px solid #F4F5F6;
}

table tr:last-child {
    border-bottom: none;
}

td div {
    width: 150px;
}

.image {
    width: 50px;
    border-radius: 50%;
}

.text-gray {
    color: gray;
}

.checkbox-btn {
    width: $btn-width;
    height: $btn-height;
    position: relative;

}

.checkbox {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tick {
    position: relative;
    top: -38px;
    right: -8px;
    z-index: 1;
}
.btn-bg-green{
    background-color: #449D48;
}
.btn-bg{
    background-color: #DFE0E1;
}
.toggler {
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
   
    line-height: 1;
    color: #fff;
    transition: background-color .15s ease-out;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;

    .checkbox-btn--rounded & {
        border-radius: $btn-height;
    }

    &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: $btn-padding;
        left: $btn-padding;
        bottom: $btn-padding;
        padding: 0 12px;
        border-radius: 50px;
        background-color: white;
        content: attr(data-label-unchecked);
        transition: all .15s ease-out;
        min-width: $btn-height - (2 * $btn-padding);

        .checkbox-btn--rounded & {
            border-radius: $btn-height;
        }
    }


    .checkbox:active+&::before {
        padding: 0 20px;
    }

    .checkbox:checked+&::before {
        background-color: white;
        content: attr(data-label-checked);
        left: calc(100% - #{$btn-padding});
        transform: translateX(-100%);

        .checkbox-btn {
            background-color: green !important;
        }
    }
}


input[type=text] {
    width: 350px;
    padding: 5px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 100px;
}


.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;

}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    color: #666;
    font-weight: normal;
    cursor: pointer;
}

.radio-item label:before {
    content: " ";
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid black;
    background-color: transparent;
}

.radio-item input[type=radio]:checked+label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: black;
}


.card-box {
    height: 180px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
    word-wrap: break-word;
}

.card-box-name {
    font-size: 20px
}

.card-box-info {
    line-height: 1.5;
}

.pagination {
    display: inline-block;
}

.pagination span {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination-section{
    display: flex;
    justify-content: flex-end;
}
.pagination span.active {
    border-top: 3px solid #665FEC;
}

//responsive
@media only screen and (max-width: 1200px) {
    input[type=text] {
        width: 300px;
    }
}
@media only screen and (max-width: 992px) {
    .table-box{
        overflow-x:scroll;
        display: block;
    }
    .table-box table{
        width: 950px;
    }
    .pagination-section{
        justify-content: center;
    }
    .filter{
        display: flex;
        justify-content: center;
    }
    input[type=text] {
        width: 500px;
    }
}

@media only screen and (max-width: 640px) {

    input[type=text] {
        width: 300px;
    }
}